.backlist {

    width: 1920px;
    height: 1926px;
}

h4 {
    width: 1180px;
    height: 60px;
    color: #2E363E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    vertical-align: bottom;
    margin-left: 370px;


}

.container {
    display: grid;
    width: 1180px;
    height: 1786px;
    gap: 20px;
    grid-template-columns: 380px 380px 380px;
    grid-template-rows: 245px 245 245px;
    margin: 80px 370px 0px 370px;
}

.cards {
    width: 380px;
    height: 582px;
    background-color: #C2C6D00F;
    border-radius: 10px
}

.card1 {
    width: 380px;
    height: 337px;
    flex-direction: column;
    padding-left: 44px;
}

.card1 h5 {
    width: 247px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
}

.comment1 {

    width: 240px;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2E363E;
}

.cash1 {
    width: 120px;
    height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #434B53;
}

.card1a {
    font-family: "Montserrat", sans-serif;
    width: 163px;
    height: 68px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 8px;
    background-color: #FED84C;
    text-decoration: none;
    color: #2E363E;
    text-align: center;
    justify-content: center;
}

.card1a:hover {
    background-color: #b89a2e;
}

.card2 {
    width: 380px;
    height: 337px;
    flex-direction: column;
    padding-left: 44px;
}

.card2 h5 {
    width: 247px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
}

.comment2 {
    margin-top: 12px;
    width: 240px;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2E363E;
}

.cash2 {
    width: 120px;
    height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #434B53;
}

.card2a {
    font-family: "Montserrat", sans-serif;
    width: 163px;
    height: 68px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 8px;
    background-color: #FED84C;
    text-decoration: none;
    color: #2E363E;
    text-align: center;
    justify-content: center;
}

.card2a:hover {
    background-color: #b89a2e;
}

.card3 {
    width: 380px;
    height: 337px;
    flex-direction: column;
    padding-left: 44px;
}

.card3 h5 {
    width: 247px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
}

.cash3 {
    width: 120px;
    height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #434B53;
}

.comment3 {
    margin-top: 12px;
    width: 240px;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2E363E;
}

.card3a {
    font-family: "Montserrat", sans-serif;
    width: 163px;
    height: 68px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 8px;
    background-color: #FED84C;
    text-decoration: none;
    color: #2E363E;
    text-align: center;
    justify-content: center;
}

.card3a:hover {
    background-color: #b89a2e;
}

.card4 {
    width: 380px;
    height: 337px;
    flex-direction: column;
    padding-left: 44px;
}

.card4 h5 {
    width: 247px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
}

.cash4 {
    width: 120px;
    height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #434B53;
}

.comment4 {
    margin-top: 12px;
    width: 240px;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2E363E;
}

.card4a {
    font-family: "Montserrat", sans-serif;
    width: 163px;
    height: 68px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 8px;
    background-color: #FED84C;
    text-decoration: none;
    color: #2E363E;
    text-align: center;
    justify-content: center;
}

.card4a:hover {
    background-color: #b89a2e;
}

.card5 {
    width: 380px;
    height: 337px;
    flex-direction: column;
    padding-left: 44px;
}

.card5 h5 {
    width: 247px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
}

.cash5 {
    width: 120px;
    height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #434B53;
}

.comment5 {
    margin-top: 12px;
    width: 240px;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2E363E;
}

.card5a {
    font-family: "Montserrat", sans-serif;
    width: 163px;
    height: 68px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 8px;
    background-color: #FED84C;
    text-decoration: none;
    color: #2E363E;
    text-align: center;
    justify-content: center;
}

.card5a:hover {
    background-color: #b89a2e;
}

.card6 {
    width: 380px;
    height: 337px;
    flex-direction: column;
    padding-left: 44px;
}

.card6 h5 {
    width: 247px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
}

.cash6 {
    width: 120px;
    height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #434B53;
}

.comment6 {
    margin-top: 12px;
    width: 240px;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2E363E;
}

.card6a {
    font-family: "Montserrat", sans-serif;
    width: 163px;
    height: 68px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 8px;
    background-color: #FED84C;
    text-decoration: none;
    color: #2E363E;
    text-align: center;
    justify-content: center;
}

.card6a:hover {
    background-color: #b89a2e;
}

.card7 {
    width: 380px;
    height: 337px;
    flex-direction: column;
    padding-left: 44px;
}

.card7 h5 {
    width: 247px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
}

.cash7 {
    width: 120px;
    height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #434B53;
}

.comment7 {
    margin-top: 12px;
    width: 240px;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2E363E;
}

.card7a {
    font-family: "Montserrat", sans-serif;
    width: 163px;
    height: 68px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 8px;
    background-color: #FED84C;
    text-decoration: none;
    color: #2E363E;
    text-align: center;
    justify-content: center;
}

.card7a:hover {
    background-color: #b89a2e;
}

.card8 {
    width: 380px;
    height: 337px;
    flex-direction: column;
    padding-left: 44px;
}

.card8 h5 {
    width: 247px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
}

.cash8 {
    width: 120px;
    height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #434B53;
}

.comment8 {
    margin-top: 12px;
    width: 240px;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2E363E;
}

.card8a {
    font-family: "Montserrat", sans-serif;
    width: 163px;
    height: 68px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 8px;
    background-color: #FED84C;
    text-decoration: none;
    color: #2E363E;
    text-align: center;
    justify-content: center;
}

.card8a:hover {
    background-color: #b89a2e;
}

.card9 {
    width: 380px;
    height: 337px;
    flex-direction: column;
    padding-left: 44px;
}

.card9 h5 {
    width: 247px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
}

.cash9 {
    width: 120px;
    height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #434B53;
}

.comment9 {
    margin-top: 12px;
    width: 240px;
    height: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2E363E;
}

.card9a {
    font-family: "Montserrat", sans-serif;
    width: 163px;
    height: 68px;
    gap: 10px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 8px;
    background-color: #FED84C;
    text-decoration: none;
    color: #2E363E;
    text-align: center;
    justify-content: center;
}

.card9a:hover {
    background-color: #b89a2e;
}

.berry {
    position: absolute;
    width: 169.9999985811539;
    height: 173.99999854776928;
    top: 380.19px;
    left: 214px;
    rotate: 63.54 ;
    display: flex;
    
}

.leaf1 {
    position: absolute;
    width: 161.00001525878966;
    height: 166.99998474121156;
    top: 1192px;
    left: 1523px;
    rotate: 180 ;
    }

.leaf2 {
    position: absolute;
    width: 108.93232165518859;
    height: 112.99189204274694;
    top: 1386.15px;
    left: 252px;
    rotate: -92.61 ;
    }